/* Main stylesheet for the portfolio day registration and questionnaire */
/* Lee Anderson */
* {
  padding: 0px;
  margin: 0px; }

a {
  color: #c8d525;
  text-decoration: none;
  font-size: 1.2em; }

label {
  display: block;
  margin-top: 10px; }

input, select {
  /*margin-bottom: 10px;*/ }

button {
  padding: 3px; }

body {
  margin: 0px;
  background-color: #d7d7d7; }

#container {
  width: 80%;
  max-width: 1200px;
  min-width: 850px;
  height: 100%;
  margin: 0px auto;
  background-color: #f6f6f6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  outline-color: #d5e04d;
  outline-style: solid;
  outline-width: 1px; }

#titleHeader {
  width: 100%;
  height: 91px;
  background-color: #1f2c5c; }

#mainBody {
  width: 71%;
  padding: 2%;
  font-size: 1em;
  margin: 0px auto; }

#lineQs, #textQs {
  float: left;
  width: 50%; }

#logoutButton {
  float: right; }

#formContainer {
  width: 400px;
  margin: 10px auto; }

textarea {
  resize: none; }

#q2Example {
  padding: 3px;
  color: #333; }

/*# sourceMappingURL=styles.css.map */
